@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lilita+One&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

html {
    height: 100%;
}

body {
    padding: 1rem;
    color: whitesmoke;
    margin: 0;
    background-color: #070F2B;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

h1 {
    height: 5rem;
    width: 20rem;
    background-color: #535C91;
}

h2 {
    font-size: 1rem;
}

.flex-container-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 25%;
}

.emoji {
    margin: 2rem;
    padding: 1rem;
    height: 20rem;
    width: 20rem;
    border: 0.1rem solid #9290C3;
    border-radius: 0.25rem;
    background-color: #9290C3;
    flex-direction: column;
}